{% extends "base.html" %}

{% block header %}
    {% include "disks/header.html" %}
{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-danger">
    {{ messages[0] }}
</div>
{% endif %}
{% endwith %}

<div id="center-links" class="text-center">
    <h1><a href="{{ request.url + '/overview' }}">Overview</a></h1>
    <h1><a href="{{ request.url + '/snapshot' }}">Snapshot</a></h1>
    <h1><a href="{{ request.url + '/free_space' }}">Free Space Over Time</a></h1>
</div>
{% endblock %}
