{% extends "base.html" %}

{% block content %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
    {% endwith %}

    {% include 'products_search.html' %}

    <script>
        function redirect() {
           window.location.href="/products/" + document.getElementById("productSearch").value;
        }
    </script>

    <h1>{{ display_name }} ({{ num_products }} Products):</h1>
    {% for product in products %}
    <p>
        <a href="/price_history/{{ product.id }}">{{ product.display_name | safe }}</a>
    </p>
    {% endfor %}

{% endblock %}
