{% extends "base.html" %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@3.0.1/dist/chartjs-plugin-annotation.min.js"></script>

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-danger">
    {{ messages[0] }}
</div>
{% endif %}
{% endwith %}


<div class="m-3">
  <h3>Temperature</h3>
</div>

<div id="temperature-chart-div">
    <canvas id="myChart"></canvas>
</div>

<script>
    const ctx = document.getElementById('myChart');

    const data = {
        labels: {{ dates | safe }},
        datasets: [
          {
            label: 'Temperature (°F)',
            data: {{ temperatures }},
            fill: false,
          }
        ]
      };

    Chart.defaults.font.size = 18;
    const decimals = 2;

    const config = {
        type: 'line',
        data: data,
        options: {
          responsive: true,
          maintainAspectRatio: false,
          interaction: {
            intersect: false,
            axis: 'x'
          },
          scales: {
                x: {
                    type: 'time',
                    time: {
                        unit: 'hour',
                        stepSize: 2,
                        tooltipFormat: 'yyyy-MM-dd HH:mm',
                    },
                    ticks: {
                        major: {
                           enabled: true
                        },
                        font: (context) => {
                            const boldedTicks = context.tick && context.tick.major ? 'bold' : '';
                            return { weight: boldedTicks };
                        }
                    },
                },
          },
          plugins: {
            annotation: {
                annotations: [
                {
                    type: 'line',
                    borderDash: [10, 10],
                    yMin: {{ maximum_temp }},
                    yMax: {{ maximum_temp }},
                    borderColor: 'rgb(255, 0, 0, 0.75)',
                    borderWidth: 1
                },
                {
                    type: 'line',
                    borderDash: [10, 10],
                    yMin: {{ minimum_temp }},
                    yMax: {{ minimum_temp }},
                    borderColor: 'rgb(0, 0, 255, 0.75)',
                    borderWidth: 1
                }
                ]
            }
          }
        }
      };

    new Chart(ctx, config);
</script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
<script>
    $(".favorite-star").on("click", function(event) {
      var jqxhr = $.post( "/api/v1/toggle_favorite/{{ product_id }}", function(data) {
            console.log("Favorited item: " + JSON.stringify(data));
            if (data.hasOwnProperty("is_favorite")) {
                var is_favorite = data.is_favorite;
                if (is_favorite) {
                    $(".favorite-star").attr("src", "{{ url_for('static', filename='star.png') }}");
                } else {
                    $(".favorite-star").attr("src", "{{ url_for('static', filename='star_unfilled.png') }}");
                }
            }
        })
        .fail(function(jqXHR, textStatus, errorThrown) {
            console.error("Error favoriting item! " + jqXHR.status + " - "  + textStatus);
        });
    });
</script>

{% endblock %}
