{% extends "base.html" %}

{% block header %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='toolbox.ico') }}">
    <title>Utilities</title>
{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-danger">
    {{ messages[0] }}
</div>
{% endif %}
{% endwith %}

<div id="center-links" class="text-center">
    <p></p>
    <h1><a href="/temp">🌡️ Temperature</a></h1>
    <h1><a href="/beers">🍺 Beer (Untappd)</a></h1>
    <h1><a href="/disks">💽 Disks</a></h1>
    <h1><a href="/games">🃏 Games</a></h1>
    <h1><a href="/birds">🐦 Bird Life List</a></h1>
    <h1><a href="/books">📓 Books</a></h1>
</div>

{% endblock %}
