<div id="products-search">
    <script>
        function redirect() {
           window.location.href="/products/" + document.getElementById("productSearch").value;
        }
    </script>

    <h3>Search for Products:</h3>
    <form id="my-form" onsubmit="redirect(); return false" method="get" action="">
        <input id="productSearch" type="search" size="32" name="q" placeholder="grapes" value="{{ search_query }}"
               onfocus="var temp_value=this.value; this.value=''; this.value=temp_value" autofocus required>
        <input type="submit">
    </form>
</div>