{% extends "beers/base.html" %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-danger">
    {{ messages[0] }}
</div>
{% endif %}
{% endwith %}

<div id="links">
    <h1><a href="{{ request.url + '/beers' }}">Beers</a></h1>
    <h1><a href="{{ request.url + '/breweries' }}">Breweries</a></h1>
    <h1><a href="{{ request.url + '/countries' }}">Countries</a></h1>
    <h1><a href="{{ request.url + '/styles' }}">Styles</a></h1>
</div>
{% endblock %}
