{% extends "base.html" %}

{% block header %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='toolbox.ico') }}">
    <title>Game Scorekeeping</title>
{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="alert alert-danger">
    {{ messages[0] }}
</div>
{% endif %}
{% endwith %}

<div id="center-links" class="text-center">
    <p></p>
    <h1>🎮 Game Scorekeeping</h1>
    <p></p>
    <h2><a href="/games/5crowns">5 Crowns Score Tracker</a></h2>
    <p>Track scores for the card game 5 Crowns</p>
</div>

{% endblock %}
